*{
    margin: 0px;
    padding: 0px;

    p{
        color: #FFFFFF;
    }

    .head-container{
      
        .headbar{
            background-color: #A03037;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;
           .book-title{
               display: flex;
               width: 10%;   
               .cont1{
                margin-left: 10px;
               }  
           }
           .search-bar{
               .search{
                   border: none;
                   width: 400px;
                   height: 25px;
                   border-radius: 5px;
               }
           }

           .right-icons{
               display: flex;
               width: 20%;
               justify-content: space-around;
                .name{
                    justify-content: center;
                    #profile-name{
                        margin: -1vh 0vw 0vh 0vw;
                    }
                }
                .user{
                    display: flex;
                    height: 50px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    #user-name{
                        margin: -1vh 0vw 0vh 0vw;
                    }
                }
                .cart{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    #cart-name{
                        // margin-right: 10px;
                        margin: -1vh 0vw 0vh 0vw;
                        }
                }
                .wishlist{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    .wishlist-name{
                            margin: -1vh 0vw 0vh 0vw;
                    }
                }
                .exitIcon{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                }
            }
        }

        .bookList{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    }
}