.signup-container{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#878787;
    z-index: 0;
    position: absolute;
    .signup-Image-container{
        z-index: 1;
        position: absolute;
        width:50%;
        height:60%;
        display:flex;
        padding:20px;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        border:1px solid lightgray;
        border-radius:20px;
        background-color:#fff;
        .signup-Image{
            width:50%;
            display: flex;
            flex-direction: column;
            align-items:center;
            .signup-Image-dimension{
                width:80%;
                border-radius: 150px;
            }
        }
        .signup-Image-Right{
            width:50%;
        }
    }
    .signup{
        z-index: 2;
        position: absolute;
        width:25%;
        height:70%;
        display:flex;
        padding:20px;
        margin-left: 400px;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        border:1px solid lightgray;
        border-radius:10px;
        background-color:#fff;

        .signup-section-1{
            display: flex;
            width: 80%;
            height: 15%;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            .signup-heading{
                display: flex;
                width:50%;
                font-size: large;
            }
            .signup-headings{
                display: flex;
                justify-content: flex-end;
                width:50%;
                font-size: large;
            }
        }
        .signup-section-2{
            width:80%;
            display:flex;
            flex-direction:column;
            .email-npt{
                margin-top:0px
            }
            .pass-npt{
                margin-top:10px;
            }
        }

        .signup-section-3{
            width:80%;
            display:flex;
            flex-direction:column;
            margin-top: 10px;
            .email-npt{
                margin-top:0px
            }
            .pass-npt{
                margin-top:10px;
            }
        }

        .login-btn{
            width:80%;
            height: 10%;
            margin-top:10px;
            color:#fff;
            border-radius: 5px;
        }
    }
}